
.container { width: auto; }

.main-content { padding: 0 20px 0 10px; }

.header,
.site-footer,
.flash-full.js-notice,
.notification-actions .mute,
.tabnav { display: none; }


/* name, age, checkbox and avatars */
@media (max-width: 850px) {
	.main-content { padding: 0 10px; }
	.one-fourth { display: none; }
	.three-fourths { width: 100%; }
	.notifications .list-group-item-name { max-width: auto; margin-right: 200px; }
	.notification-actions>li.age { width: 100px; }
}

/* name, age and checkbox */
@media (max-width: 550px) {
	.notifications .list-group-item-name { margin-right: 130px; }
	.notification-actions>li.age { width: 90px; }
	.notification-actions>li.tooltipped { display: none; }
}

/* name and checkbox */
@media (max-width: 450px) {
	.notifications .list-group-item-name { margin-right: 25px; }
	.notification-actions>li.age { display: none; }
}

/* just name */
@media (max-width: 350px) {
	.notification-actions { display: none; }
	.notifications .list-group-item-name { margin-right: 0; }
}
